<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript">
  var eventSource = new EventSource('/users/<%= params[:username] %>/chat_with_therapist/stream');

  eventSource.onmessage = function(e) {
      var obj = JSON.parse(e.data);
      // if ( $('#chat-log').val() == '' ) {
      //    $('#chat-log').val(obj.msg);
      // }
      // else {
      //   $('#chat-log').val([$('#chat-log').val(), obj.msg].join("\n"));
      // }

      if (obj.for_user == '<%= address_user(@patient) %>') {
        var chatEntry = `<p style='display: inline-block; width: 100%; text-align: right;'> ${obj.for_user} (<%= Time.now.strftime("%d/%m/%y %k:%M") %>): ${obj.msg}</p>`;
      } else {
        var chatEntry = `<p style='display: inline-block; width: 100%; text-align: left;'> ${obj.for_user} (<%= Time.now.strftime("%d/%m/%y %k:%M") %>): ${obj.msg}</p>`;
      }

      $('#new-chat-log').append(chatEntry);

      // var chat_log = document.getElementById('chat-log');
      // chat_log.scrollTop = chat_log.scrollHeight;

      var chat_log = document.getElementById('new-chat-log');
      chat_log.scrollTop = chat_log.scrollHeight;

      // mark messages read as they come
      var data_obj = {readBy: '<%= session[:user].role %>'};
      $.ajax({
        url: "/users/<%= params[:username] %>/chat_with_therapist/mark_read",
        type: "POST",
        data: JSON.stringify(data_obj),
        dataType: 'text',
        contentType: 'application/json',
        success: function(data) {
        }
      });

  };

  eventSource.onerror = function(err) {
    // alert("Error occurred, please reload page.");
  };

  $( document ).ready( function() {
    $( '#submit_new_msg' ).click( function() {

      $.post('/users/<%= params[:username] %>/chat_with_therapist/stream',
      $( '#new_msg' ).serialize(),
      function(data) {
        $( '#new_msg' ).val( '' );
      });
    });

    $('#reload_page').click(function () {
      location.reload();
    });

    $("#new_msg").keypress(function (e) {
      if (e.which === 13) {
          e.preventDefault();
          $( '#submit_new_msg' ).trigger('click');
          $( '#new_msg').val('');
      }
    });

    // var chat_log = document.getElementById('chat-log');
    // chat_log.scrollTop = chat_log.scrollHeight;

    var chat_log = document.getElementById('new-chat-log');
    chat_log.scrollTop = chat_log.scrollHeight;

  });

  // $('#chat-log').change(function() {
  //      $('#chat-log').scrollTop($('#chat-log').scrollHeight);
  //   });

</script>

<div class="row-col">
  <div class="text-center">
    <% if session[:user].role == :therapist %>
      <h1>Conversation with <%= full_name_plus_username(@patient) %></h1>
    <% else %>
      <h1>Conversation with Therapist</h1>
    <% end %>
    <br>

    <div style="border: 1px solid black; height: 400px; overflow: scroll; background-color: floralwhite;" class="mx-auto col-lg-6" id="new-chat-log">
      <% @patient.chat_history.each do |msg_log| %>
        <% user, time_str, msg = *msg_log %>
        <% if user == address_user(@patient) %>
          <p style="display: inline-block; width: 100%; text-align: right;"><%= user %> (<%= time_str %>): <%= msg %></p>
        <% else %>
          <p style="display: inline-block; width: 100%; text-align: left;"><%= user %> (<%= time_str %>): <%= msg %></p>

        <% end %>
        <br>

      <% end %>
    </div>

    <form id="chat_form">
      <div class="form-group">
        <!-- <textarea class="form-control mx-auto col-lg-6" id="chat-log" rows="10" readonly><%=@patient.chat_history.join("\n")%></textarea> -->
      </div>

      <div class="form-group form-row justify-content-center">
        <!-- <div class="form-row"> -->
          <input class="bg-light col-lg-5 form-control input-lg" data-toggle="tooltip" title="Press enter to submit message" type="text" name="new_msg" id="new_msg" placeholder="Type your message here..">
          <button id="submit_new_msg" class="form-control col-lg-1 ml-1 btn btn-primary">Send</button>
        <!-- </div> -->
      </div>



    </form>

    <hr>

    <form id="clear-history" action="/users/<%= params[:username] %>/chat_with_therapist/clear_history" method="post" onsubmit="return confirm('Are you sure you want to delete chat history? This cannot be reversed. Click OK to proceed.');">
      <br>
          <button id="reload_page" class="btn btn-secondary mr-3">Reload messages</button> <button class="btn btn-danger" type="submit"  >Clear Chat History</button>
    </form>

  </div>
</div>