<div class="d-flex justify-content-start">
  <span class="d-inline">
    <h2 class="mr-5 d-inline">Exercise Library</h2>


    <a href="/exercise_library/add_template<%= '?pt=' + @patient.username if @patient %>" class="mx-2 btn btn-outline-primary">Create New Exercise Template</a>

    <% if @patient %>
    <a href="/users/<%= @patient.username %>/exercises" class="mx-2 btn btn-outline-secondary">Return to Exercise Page of <%= full_name_plus_username(@patient) %></a>
    <% end %>
  </span>
</div>

<br>

<!-- Existing Templates -->
<br>
<div class="row row-cols-1 row-cols-lg-6 row-cols-md-4">


  <% @all_templates.each_with_index do |template, index| %>
  <div class="col mb-4">
    <div class="card text-center">

      <img src="<%= template.get_image_link(0) || '/images/noimage.png' %>" class="card-img-top"  alt="...">
      <hr class="mt-0">

      <div class="card-body pt-0">
        <h5 class="card-title"><strong><%= template.name %></strong></h5>

        <form class="form-inline" method="post" action="/exercise_library/<%= template.name %>/delete" onsubmit="return confirm('Are you sure you want to delete the selected template? This cannot be undone. Click OK to proceed.')">
          <button type="submit" class="btn btn-outline-danger">Delete</button>
        </form>
      </div>


    </div>
  </div>
  <% end %>

</div>
