<!-- Toast notification -->

<div role="alert" aria-live="polite" aria-atomic="true" data-autohide="true" data-delay="5000"class="toast" style="position: fixed; top: 70px; right: 15px;  ">
  <div class="toast-header">

    <strong class="mr-auto text-success toast-header-text"><%= session.delete(:toast_title) %></strong>
    <small></small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body" id="toast-content">
    <%= session.delete(:toast) %>
  </div>
</div>

<div class="d-flex justify-content-start">
  <span class="d-inline">
    <h2 class="mr-5 d-inline">Exercise Library</h2>


    <% if session[:error] %>

      <span class="alert alert-danger fade show" role="alert">
        <span><%= session.delete(:error) %></span>
      </span>

    <% end %>

    <% if session[:success] %>
    <span class=" col-5 alert alert-success fade show text-center mx-auto" role="alert">
      <span><%= session.delete(:success) %></span>
    </span>
    <% end %>

  </span>
</div>


<br>
<div class="row">
  <a href="/exercise_library/add_template<%= '?pt=' + @patient.username if @patient %>" class="mx-2 btn btn-outline-primary">Create New Exercise Template</a>

  <% if @patient %>
  <a href="/users/<%= @patient.username %>/exercises" class="mx-2 btn btn-outline-secondary">Return to Exercise Page of <%= full_name_plus_username(@patient) %></a>
  <% end %>
</div>

<!-- Existing Templates -->
<br>
<div class="row row-cols-1 row-cols-lg-6 row-cols-md-4">


  <% @all_templates.each_with_index do |template, index| %>
  <div class="col mb-4">
    <div class="card text-center">

      <img src="<%= template.get_image_link(0) || '/images/noimage.jpg' %>" class="card-img-top"  alt="...">
      <hr class="mt-0">

      <div class="card-body pt-0">
        <h5 class="card-title"><strong><%= template.name %></strong></h5>




        <div class="row justify-content-center">
          <a class="float-right btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

            <a href="/exercise_library/<%= template.name %>/edit<%= '?pt=' + @patient.username if @patient %>" class="dropdown-item text-primary" data-toggle="tooltip" title="View/Edit exercise template">View/Edit</a>

            <form action="/exercise_library/<%= template.name %>/delete<%= '?pt=' + @patient.username if @patient %>" method="post" onsubmit="return confirm('Are you sure you want to delete this template? This cannot be reversed. Click OK to proceed.');">
              <button type="submit"  class="dropdown-item text-danger" data-toggle="tooltip" title="Delete template and associated data.">Delete</button>
            </form>

            <% if @patient %>
            <form id="template-form" class="template-form" action="/users/<%= @patient.username %>/exercises/add_from_library" method="POST">
              <input type="hidden" name="template_name" value="<%= template.name %>">
              <button id="template-form-btn" type="submit" class="dropdown-item text-light bg-dark" value="submit">Add for <%= full_name_plus_username(@patient) %></button>
            </form>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
  <% end %>

</div>
