<div class="row">
  <h2 class="col-5"><%= @title %></h2>
</div>


<hr/>

<div class="row"></div>
<div class="row"></div>

<div class="row">
  <div class="col-6">
    <form action="/exercise_library/add_exercise<%=create_full_query_str({group: params[:group], pt: params[:pt]}) %>" method="post">
      <div class="form-group row">
        <label for="new_exercise_name" class="col-3 col-form-label"><b>Name of Exercise</b></label>
        <input type="text" class="form-control col-6" id="new_exercise_name" name="new_exercise_name" value="<%= @exercise.name if @exercise %>">
      </div>

      <div class="form-group row">
        <label for="instructions" class="col-3 col-form-label"><b>Group</b></label>
        <input name="group_lvl_1" id="group_lvl_1" list="grouplist_lvl_1" class="form-control col-3" value="<%= @browse_group_hierarchy[1] %>" placeholder="" data-toggle="tooltip" data-placement="top" title="Choose existing group, or make a name for new group">
        <datalist id="grouplist_lvl_1">
          <% @exercise_library.get_groups(GroupOperations::TOP_HIERARCHY).each do |group| %>
            <option value="<%= group.name %>"></option>
          <% end %>
        </datalist>

        <label for="instructions" class="col-2 col-form-label"><b>Sub-Group</b></label>
        <input name="group_lvl_2" id="group_lvl_2" list="grouplist_lvl_2" class="form-control col-3" value="<%= @browse_group_hierarchy[2] %>" placeholder="">
        <datalist id="grouplist_lvl_2">
          <% @exercise_library.get_groups(GroupOperations::TOP_HIERARCHY).each do |group| %>
            <% group.subgroups.each do |subgroup| %>
              <option hidden-value = "<%= subgroup.name %>" data-group="<%= group.name %>" value="<%= subgroup.name %>"></option>
            <% end %>
          <% end %>
        </datalist>

      </div>

      <div class="form-group row">
        <label for="reps" class="col-3 col-form-label"><b>Repetitions</b></label>
        <input name="reps" list="reps" class="col-3 form-control" value="<%= @exercise ? @exercise.reps : ExerciseTemplate::DEFAULT_REPS %>">
        <datalist id="reps">
          <option value="5"></option>
          <option value="10"></option>
          <option value="20"></option>
          <option value="30"></option>
          <option value="40"></option>
          <option value="50"></option>
          <option value="100"></option>
        </datalist>

        <label for="sets" class="col-1 offset-1 col-form-label"><b>Sets</b></label>
        <input name="sets" list="sets" class="col-2 form-control" value="<%= @exercise ? @exercise.sets : ExerciseTemplate::DEFAULT_SETS %>">
        <datalist id="sets">
          <option value="1"></option>
          <option value="2"></option>
          <option value="3"></option>
          <option value="4"></option>
          <option value="5"></option>
        </datalist>
      </div>
      <div class="form-group row">
        <label for="instructions" class="col-3 col-form-label"><b>Instructions</b></label>
        <textarea class="form-control col-8" id="instructions" name="instructions" rows="3"><%= @exercise.instructions if @exercise %></textarea>
      </div>

      <div class="form-group row">

      <label class="col-3 col-form-label" id="empty-label"></label>
      <div class="col-8">
        <div class="row">
          <div class="col mx-1 px-0">
            <div class="form-group">
              <% if @editing_exercise_template %>
                <button type="submit" class="btn btn-outline-primary form-control" formaction="/exercise_library/<%= @exercise.name %>/edit<%=create_full_query_str({group: params[:group], pt: params[:pt]}) %>">Save</button>
              <% else %>
                <button type="submit" class="ml-0 btn btn-outline-primary form-control">Save</button>
              <% end %>
            </div>
          </div>
          <div class="col mx-1 px-0">
            <% if @patient %>
              <a href="/users/<%= @patient.username %>/exercises/add_from_library<%=create_full_query_str({group: params[:group], pt: params[:pt]}) %>" class="btn btn-outline-secondary form-control">Return</a>
            <% else %>
              <a href="/exercise_library<%=create_full_query_str({group: params[:group], pt: params[:pt]}) %>" class="btn btn-outline-secondary form-control">Return</a>
            <% end %>
          </div>

          <% if @editing_exercise_template %>
            <div class="col mx-1 px-0">
              <button type="submit" class="btn btn-outline-danger form-control" formaction="/exercise_library/<%= @exercise.name %>/delete<%=create_full_query_str({group: params[:group], pt: params[:pt]}) %>">Delete</button>
            </div>
          <% end %>
        </div>
      </div>
    </form>
  </div>

  <label class="col-3 col-form-label"></label>

  <!-- success/error messages -->

  <% if session[:success] %>
  <div class="offset-3 col-8 alert alert-success fade show text-center" role="alert"><%= session.delete(:success) %>
  </div>
  <% end %>

  <% if session[:error] %>
  <div class="offset-3 col-8 alert alert-danger fade show text-center" role="alert">
    <%= session.delete(:error) %>
  </div>
  <% end %>







</div>
<div class="col-6">
  <%= yield if block_given? %>
</div>