<h2>Welcome, <%= @user.first_name || @user.username %> </h2>

<br>
<h5>Here is the list of current patients. Click on any of them to view their progress.</h5>
<br>

<div class="row justify-content-center">
<table class="table_accounts_list table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col" style="width: 10%">#</th>
      <th scope="col" style="width: 10%">Last</th>
      <th scope="col" style="width: 10%">First</th>
      <th scope="col" style="width: 10%">Username</th>
      <th scope="col" style="width: 10%">Last updated</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @all_patients.each_with_index do |patient, index| %>

      <tr>
        <td><%= index + 1 %></td>
        <td><%= patient.last_name %></td>
        <td><%= patient.first_name %></td>
        <td><%= patient.username %></td>
        <td><%= patient.last_updated %></td>
        <td>
          <a href="/users/<%= patient.username %>/exercises">View Exercises</a>
          <a href="/users/<%= patient.username %>/stats">Stats</a>
          <a href="/users/<%= patient.username %>/deactivate_account" class="text-danger">Delete</a>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
</div>

<a class="btn btn-outline-primary" href="/new_account?role=patient">Create new Patient account</a>