<div class="starter-template">
    <h1>Exercise Tracker</h1>
  </div>


  <div class="row spacer-top header-row">
    <div class="col-lg-5">
      <p class="header dates">Exercises</p>
    </div>

    <% @dates.each do |date| %>
      <div class="col-lg-1 text-center">
        <span class="dates"><%= format_date(date) %></span>
      </div>
    <% end %>
  </div>


  <!-- List of current exercises -->
  <% @patient.exercises.each do |exercise| %>
    <div class="row">
      <div class="col-lg-5">
        <span class="exercise"><%= exercise.name %></span>

        <a href="#" class="btn btn-secondary exercise-button">View/Edit</a>

      </div>



      <% @dates.each do |date| %>
        <div class="col-lg-1">
          <form action="/users/<%= @patient.username %>/update_tracker" method="post">
            <div class="custom-control custom-checkbox text-center">
              <input type="checkbox" class="custom-control-input" id="chk_<%= exercise.name + "_" + date.strftime("%Y%m%d") %>" name="<%= exercise.name %>" value="checkbox_value" <%= check_value(date, exercise.record_of_days) %>>
              <input type="hidden" name="exercise_name" value="<%= exercise.name %>">
              <input type="hidden" name="date" value="<%= date.strftime("%d%b%Y") %>">
              <label class="custom-control-label" for="chk_<%= exercise.name + "_" + date.strftime("%Y%m%d") %>"></label>
            </div>
          </form>
        </div>
      <% end %>

    </div>
  <% end %>

  <!-- Form to add new exercises -->
  <br>
  <br>
  <form class="" id="form_add_exercise" action="/users/<%=@patient.username%>/exercises/add" method="post">
    <div class="form-row">
      <div class="form-group col-3">
  <div class="input-group">
        <label class = "sr-only" for="formGroupExampleInput">Name of new exercise</label>
        <input type="text"  class="form-control" name="new_exercise_name" placeholder="New Exercise">

        <button type="submit" class="input-group-btn btn btn-outline-primary">Add Exercise</button>
        </div>
      </div>
    </div>
  </form>

  <% if @therapist %>
  <!-- nextup -->

  <% end %>