<div class=" d-flex justify-content-between">
  <h1 class="ml-3"><%= session[:user].role == :patient ? address_user(@patient) : full_name_plus_username(@patient) %>'s Exercises (<%= @patient.num_of_exercises %>)
    <a href="/users/<%= @patient.username %>/exercises/print_view<%= '?end_date=' + params[:end_date] if params[:end_date] %>" class="btn btn-light ml-1 d-print-none">List View</a></h1>

  <span >
    <% if session[:error] %>
    <div class="row justify-content-center">
      <div class="alert alert-danger fade show" role="alert">
        <span><%= session.delete(:error) %></span>
      </div>
    </div>
    <% end %>

    <% if session[:success] %>
    <div class="alert alert-success fade show text-center mx-auto" role="alert">
      <span><%= session.delete(:success) %></span>
    </div>
    <% end %>
    <span class="spinner-border text-info" id="save-change-spinner" role="status">
      <span class="sr-only">Saving changes, please wait...</span>
    </span>
    <span class="text-info ml-2 pt-1" id="save-change-spinner-label">Saving changes, please wait...</span>
  </span>

  <span class="mr-4 d-print-none">
    <h3 class="d-inline date-controller">Dates</h3>
    <a href="/users/<%= @patient.username %>/exercises?end_date=<%= (@end_date-7).strftime("%Y%m%d") %>" class="btn btn-info date-nav-button" data-toggle="tooltip" title="View earlier days"><i class="fas fa-arrow-left"></i></a>
    <a href="/users/<%= @patient.username %>/exercises?end_date=<%= (@end_date+7).strftime("%Y%m%d") %>" class="btn btn-info date-nav-button" data-toggle="tooltip" title="View later days"><i class="fas fa-arrow-right"></i></a>
  </span>
</div>

<div class="row ml-3">
  <!-- display last review date by therapist -->
  <% if !nil_or_empty?(@patient.last_review_by) %>
  <span class=""><em>Last modified by <%= address_user(User.get(@patient.last_review_by)) %> on <%= @patient.last_review_date.strftime("%d/%m/%Y") %> </em></span>

  <span class="d-none d-print-block"><em><%= ", printed on #{Date.today.strftime('%d/%m/%Y')}" %> </em></span>
  <% end %>
</div>

      <hr>



      <div class="row spacer-top header-row">
        <div class="col-lg-5 col-9 col-md-7">


        </div>
        <div class="col-1 d-print-block d-none"></div>

        <% @dates.each_with_index do |date, index| %>
        <div class="dates col-lg-1 text-center col-1 <%= checkbox_display_class(index) %> %>">
          <span class=""><%= format_date(date) %></span>
        </div>
        <% end %>
      </div>

      <!-- select all/none button -->
      <% if @patient.num_of_exercises > 0 %>
      <div class="row exercise-row">
        <div class="col-1 d-print-block d-none"></div>
        <div class="col-lg-5 col-9 col-md-7">
          <span class="ml-3 header"></span>
        </div>

        <% @dates.each_with_index do |date, index| %>

        <div class="tick-box col-1 text-center mb-3  <%= checkbox_display_class(index) %>">
         <form method="post" action="/users/<%= @patient.username %>/exercises/mark_all">
          <!-- <button type="button" class="border-0 px-4 btn btn-outline-secondary square"></button> -->

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="border-primary custom-checkbox custom-control-input" id="<%="select_all_none_" + date.strftime("%Y%m%d") %>" name="select_all_none" value="select_all_none" <%= "checked" if @patient.done_all_exercises?(date.strftime("%Y%m%d")) %>>
            <label class="pr-3 custom-checkbox custom-control-label border-primar" for="<%="select_all_none_" + date.strftime("%Y%m%d") %>" data-toggle="tooltip" title="Check all/none"></label>
            <input type="hidden" name="date" value="<%= date.strftime("%Y%m%d") %>">
          </div>
        </form>
      </div>

      <% end %>
    </div>

    <% else %>
    <div class="col-lg-5 col-7">
      <span class="">No exercises added yet</span>
    </div>

    <% end %>


    <% content_for :exercise_row do |exercise, indent, ex_index, group, grp_index|%>
    <div class="row exercise-row">
      <div class="col-lg-4 col-6 col-md-5 col-xl-3 ml-<%= indent ? indent * 4 : 0 %> mr-n<%= indent ? indent * 4 : 0 %>">
        <a href="/users/<%= @patient.username %>/exercises/<%= exercise.name %>/edit?group=<%= group.name if group %>" class="exercise" data-toggle="tooltip" title="<%= exercise.instructions %>"><%= exercise.name %></a>
      </div>
      <div class="col-lg-1 col-3 d-none d-xl-block d-print-block">
        <% if exercise.reps || exercise.sets %>
        <span class="badge badge-secondary reps-sets my-2"><%= reps_and_sets_str(exercise) %></span>
        <% end %>


      </div>
      <div class="col-lg-1 col-3 col-md-2 d-print-none">
        <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="exercise_actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </a>

        <div class="dropdown-menu" aria-labelledby="exercise_actions">

          <a href="/users/<%= @patient.username %>/exercises/<%= exercise.name %>/edit?group=<%= group.name if group %>" class="dropdown-item text-primary" data-toggle="tooltip" title="View/change exercise instructions or add comments.">View/Edit</a>
          <form method="post" action="/users/<%= @patient.username %>/exercises/<%= exercise.name %>/move_down?group=<%= group.name if group %>">
            <button type="submit" class="dropdown-item"><i class="fas fa-arrow-down"></i> Move exercise down</button>
          </form>
          <form method="post" action="/users/<%= @patient.username %>/exercises/<%= exercise.name %>/move_up?group=<%= group.name if group %>">
            <button type="submit" class="dropdown-item"><i class="fas fa-arrow-up"></i> Move exercise up</button>
          </form>
          <form action="/users/<%= @patient.username %>/exercises/<%= exercise.name %>/delete?group=<%= group.name if group %>" method="post" onsubmit="return confirm('Are you sure you want to delete this exercises? This cannot be reversed. Click OK to proceed.');">
            <button type="submit"  class="dropdown-item text-danger" data-toggle="tooltip" title="Delete exercise and associated data.">Delete</button>
          </form>
          <hr>

          <a type="button" class="dropdown-item text-primary" data-toggle="modal" data-target="#move_exercise_to_group_<%= grp_index %>_<%= ex_index %>">
            Move exercise to group
          </a>
        </div>
      </div>

          <!-- Move exercise to group (Modal) -->
          <div class="modal fade" id="move_exercise_to_group_<%= grp_index %>_<%= ex_index %>" tabindex="-1" role="dialog" aria-labelledby="move_exercise_to_group_<%= grp_index %>_<%= ex_index %>" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">

                  <h5 class="modal-title">Move Exercise '<%= exercise.name %>'' To Group</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="" method="post" action="/users/<%= @patient.username %>/exercises/<%= exercise.name %>/move?group=<%= group.name if group %>">
                    <div class="form-group mb-2">
                      <label for="grouplist_<%= grp_index %>_<%= ex_index %>" class="">Destination Group</label>
                      <input name="dest_group" list="grouplist_<%= grp_index %>_<%= ex_index %>" class="form-control col-lg-12" value="" placeholder="">
                      <datalist id="grouplist_<%= grp_index %>_<%= ex_index %>">
                        <% @patient.get_groups(GroupOperations::TOP_HIERARCHY).each do |group| %>
                        <option value="<%= group.name %>"></option>
                        <% end %>
                      </datalist>
                    </div>
                    <button type="submit" class="btn btn-primary">Move</button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

      <!-- Checkboxes for each day for each exercise -->
      <% @dates.each_with_index do |date, index| %>
      <div class="tick-box col-1  <%= checkbox_display_class(index) %> %>">
        <form action="/users/<%= @patient.username %>/update_tracker?end_date=<%= params[:end_date] %>" method="post">
          <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="chk_<%= grp_index.to_s %>_<%= ex_index.to_s + "_" + date.strftime("%Y%m%d") %>" name="checkbox_value" value="checkbox_value <%= check_value(date, exercise.record_of_days) %>" <%= "checked" if exercise.done_on?(date.strftime("%Y%m%d")) %>>
            <input type="hidden" name="exercise_name" value="<%= exercise.name %>">
            <input type="hidden" name="group" value="<%= group.name if group %>">
            <input type="hidden" name="date" value="<%= date.strftime("%Y%m%d") %>">
            <label class="pr-3 custom-control-label custom-checkbox " for="chk_<%= grp_index.to_s %>_<%= ex_index.to_s + "_" + date.strftime("%Y%m%d") %>"></label>
          </div>
        </form>
      </div>
      <% end %>

    </div>
    <% end %>

    <!-- display exercise groups -->
    <% @patient.get_groups(Patient::TOP_HIERARCHY).each_with_index do |group, grp_index| %>

    <!-- Rename group Modal -->
    <div class="modal fade" id="modal_rename_group_<%= grp_index %>" tabindex="-1" role="dialog" aria-labelledby="modal_rename_group" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Rename Group</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-inline" method="post" action="/users/<%= @patient.username %>/exercises/group/<%= group.name %>/rename">
              <div class="form-group">
                <label for="new_group_name" class="sr-only">New Group Name</label>
                <input type="text" id="new_group_name" name="new_group_name" placeholder="New Group Name">
              </div>
              <button type="submit" class="mx-2 btn btn-primary">Rename</button>
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>



    <div class="row exercise-row">
      <div class="col">
        <!-- <span class="exercise">
          <u><%= group.name %></u>
        </span> -->

        <a class="btn btn-info dropdown-toggle" href="#" role="button" id="group_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Group: <%= group.name %> (<%= group.items.size %>)
        </a>

        <div class="dropdown-menu" aria-labelledby="group_button">

          <a type="button" class="dropdown-item text-primary" data-toggle="modal" data-target="#modal_rename_group_<%= grp_index %>">
            Rename Group
          </a>
          <form method="post" action="/users/<%= @patient.username %>/exercises/groups/<%= group.name %>/move_down">
            <button type="submit" class="dropdown-item"><i class="fas fa-arrow-down"></i> Move group down</button>
          </form>
          <form method="post" action="/users/<%= @patient.username %>/exercises/groups/<%= group.name %>/move_up">
            <button type="submit" class="dropdown-item"><i class="fas fa-arrow-up"></i> Move group up</button>
          </form>
          <form action="/users/<%= @patient.username %>/exercises/groups/<%= group.name %>/move_all_exercises_out" method="post">
            <button type="submit"  class="dropdown-item text-warning" data-toggle="tooltip" title="">Move all exercises out of group</button>
          </form>
          <hr>
          <form action="/users/<%= @patient.username %>/exercises/group/<%= group.name %>/delete" method="post" onsubmit="return confirm('Are you sure you want to delete this group and its exercises? This cannot be reversed. Click OK to proceed.');">
            <button type="submit"  class="dropdown-item text-danger" data-toggle="tooltip" title="Delete exercise and associated data.">Delete</button>
          </form>
        </div>
      </div>

      <div class="col-lg-1">

      </div>
    </div>

    <!-- display exercises in group -->
    <% group.items.each_with_index do |exercise, ex_index| %>
      <%= yield_content :exercise_row, exercise, 1, ex_index, group, grp_index %>
    <% end %>
    <% end %>

    <!-- display top level exercises -->
    <% @patient.get_group(Patient::TOP_HIERARCHY).items.each_with_index do |exercise, ex_index| %>
    <%= yield_content :exercise_row, exercise, 0, ex_index, nil, -1 %>
    <% end %>

    <br>
    <br>
    <br>

    <!-- Form to add new exercises -->
    <form class="col-lg-12 d-print-none" id="form_add_exercise" action="/users/<%=@patient.username%>/exercises/add" method="post">
      <div class="form-row">
        <div class="form-group col-lg-5">

          <div class="input-group">
            <label class = "sr-only" for="formGroupExampleInput">Name of new exercise</label>
            <input type="text"  class="form-control col-lg-8" name="new_exercise_name" placeholder="Name of new exercise">
            <div class="col-1"></div><!--  spacer-column -->
            <button type="submit" class="col-lg-3 input-group-btn btn btn-outline-primary">Add Exercise</button>
          </div>
        </div>
        <% if session[:user].role == :therapist || session[:user].role == :admin %>
        <br>
        <div class="">
          <a href="/users/<%= @patient.username %>/exercises/add_from_library<%= '?pt=' + @patient.username %>" class="btn btn-outline-primary ml-1">Choose From Exercise Library</a>
        </div>
        <% end %>
      </div>


      <!-- Add exercise to particular group, or create new group -->

      <div class="form-row d-print-none">
        <div class="form-group col-lg-5">
          <div class="input-group">
            <label for="group" class="col-lg-4">For group: </label>

            <input name="group" list="group" class="form-control col-lg-5" value="<%= @new_group_name || '' %>" placeholder="Group Name">
            <datalist id="group">
              <% @patient.get_groups(GroupOperations::TOP_HIERARCHY).each do |group| %>
              <option value="<%= group.name %>"></option>
              <% end %>

            </datalist>
            <div class="col-1"></div><!--  spacer-column -->
           <!-- <a href="/users/<%= @patient.name %>/exercises/add_group" class="col-3 btn btn-outline-primary">New
           Group</a> -->
           <button type="submit" class="col-lg-3 btn btn-outline-primary" formaction="/users/<%=@patient.username%>/exercises/add_group">Create Group</button>
         </div>
       </div>
     </div>

  <!--  <div class="form-row mt-3">
    <div class="input-group col-5">
      <a href="#" class="btn btn-outline-primary">New Group</a>
    </div> -->
  </div>

</form>

<br>

