<div id="patient_username" class="d-none"><%= @patient.username %></div>
<div class=" d-flex justify-content-between">
  <h1 class="ml-3"><%= session[:user].role == :patient ? address_user(@patient) : full_name_plus_username(@patient) %>'s Exercises (<%= @patient.num_of_exercises %>)
    <a href="/users/<%= @patient.username %>/exercises/list_view<%= '?end_date=' + params[:end_date] if params[:end_date] %>" class="btn btn-light ml-1 d-print-none">List View</a></h1>

  <span>
    <% if session[:error] %>
    <div class="row justify-content-center">
      <div class="alert alert-danger fade show" role="alert">
        <span><%= session.delete(:error) %></span>
      </div>
    </div>
    <% end %>

    <% if session[:success] %> <div class="alert alert-success fade show text-center mx-auto" role="alert">
      <span>
        <%= session.delete(:success) %>
      </span>
    </div>
    <% end %>

    <% if session[:warning] %> <div class="alert alert-warning fade show text-center mx-auto" role="alert">
      <span>
        <%= session.delete(:warning) %>
      </span>
    </div>
    <% end %>

    <div id="save-tracker-changes">
      <button id="btn-save-changes" onclick="saveAllCheckboxes()" class="btn btn-warning">Save Changes</button>
      <label for="btn-save-changes" class="ml-1">You have unsaved changes.</label>
    </div>
  </span>

  <div class="modal fade" id="modal-saving-changes" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal-saving-changes" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Saving Changes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span class="spinner-border text-info" id="save-change-spinner2" role="status">
            <span class="sr-only">Saving changes, please wait...</span>
          </span>
          <span class="text-info ml-2 pt-1" id="save-change-spinner-label2">Saving changes, please wait...</span>
        </div>
      </div>
    </div>
  </div>
  <span class="mr-4 d-print-none">
    <h3 class="d-inline date-controller">Dates</h3>
    <button onclick="saveIfChanges()" form="date_nav_form" name="nav" value="back" type="submit" formaction="/users/<%= @patient.username %>/exercises" class="btn btn-info date-nav-button mb-1" data-toggle="tooltip" title="View earlier days"><i class="fas fa-arrow-left"></i></button>
    <button onclick="saveIfChanges()" form="date_nav_form" name="nav" value="fwd" type="submit" method="get" formaction="/users/<%= @patient.username %>/exercises" class="btn btn-info date-nav-button mb-1" data-toggle="tooltip" title="View later days"><i class="fas fa-arrow-right"></i></button>
    <form method="get" id="date_nav_form">
      <input type="hidden" value="<%= @end_date.strftime("%Y%m%d") %>" name="end_date">
      <div class="input-group">
        <label for="day_step" class="mr-3">Jump by: </label>
        <select id="day_step" name="day_step" class="custom-select">
          <option value="7" <%= 'selected' if params[:day_step] == '7' %>>7</option>
          <option value="5" <%= 'selected' if params[:day_step] == '5' %>>5</option>
          <option value="3" <%= 'selected' if params[:day_step] == '3' %>>3</option>
          <option value="1" <%= 'selected' if params[:day_step] == '1' %>>1</option>
        </select>
        <label class="ml-1">Days</label>
      </div>
    </form>
  </span>
</div>
<div class="row ml-3">
  <!-- display last review date by therapist -->
  <% if !nil_or_empty?(@patient.last_review_by) %>
  <span class=""><em>Last modified by <%= address_user(User.get(@patient.last_review_by)) %> on <%= @patient.last_review_date.strftime("%d/%m/%Y") %> </em></span>
  <span class="d-none d-print-block"><em><%= ", printed on #{Date.today.strftime('%d/%m/%Y')}" %> </em></span>
  <% end %>
  <!-- display notify exercise updates by email button only if user has email -->
  <% if (session[:user].role == :therapist || session[:user].role == :admin) && @patient.email %>
    <form method="post" action="/users/<%= params[:username] %>/send-notification?event=exercise_update">
      <button class="btn btn-dark ml-3">Notify Exercise Updates via Email</button>
    </form>
  <% end %>
</div>
<hr>
<div class="row spacer-top header-row">
  <div class="col-lg-5 col-9 col-md-7">
  </div>
  <div class="col-1 d-print-block d-none"></div>
  <div class="col-1 d-md-none "></div>
  <% @dates.each_with_index do |date, index| %> <div class="dates col-lg-1 text-center col-1 <%= checkbox_display_class(index) %> %>">
    <span class=""><%= format_date(date) %></span>
  </div>
  <% end %>
</div>
<!-- select all/none button -->
<% if @patient.num_of_exercises > 0 %>
<div class="row exercise-row">
  <div class="col-1 d-print-block d-none"></div>
  <div class="col-1 d-md-none "></div>

  <div class="col-lg-5 col-9 col-md-7 text-right pt-2 d-print-none">
    <span class="">Select/Unselect all</span>
  </div>
  <% @dates.each_with_index do |date, index| %>
  <div class="tick-box col-1 text-center mb-3 <%= checkbox_display_class(index) %>">
    <div class="custom-control custom-checkbox  d-print-none">
      <input onclick="check_uncheck_all(<%= date.strftime("%Y%m%d") %>)" type="checkbox" class="border-primary custom-checkbox custom-control-input" id="<%="select_all_none_" + date.strftime("%Y%m%d") %>" name="select_all_none" value="select_all_none" date="<%= date.strftime("%Y%m%d") %>" <%= "checked" if @patient.done_all_exercises?(date.strftime("%Y%m%d")) %>>
      <label class="pr-3 custom-checkbox custom-control-label border-primar" for="<%="select_all_none_" + date.strftime("%Y%m%d") %>" data-toggle="tooltip" title="Check all/none"></label>
      <input type="hidden" name="date" value="<%= date.strftime("%Y%m%d") %>">
    </div>
  </div>
<% end %>
</div>
<% else %>
<div class="col-lg-5 col-7">
  <span class="">No exercises added yet</span>
</div>
<% end %> <br>

<% content_for :exercise_row do |exercise, indent, ex_index, group, grp_index|%> <div class="row exercise-row">
  <div class="mb-2 col-lg-4 col-6 col-md-5 col-xl-3 ml-<%= indent ? indent * 4 : 0 %> mr-n<%= indent ? indent * 4 : 0 %>">
    <a href="/users/<%= @patient.username %>/exercises/<%= exercise.name %>/edit?group=<%= group.name if group %>" class="exercise mr-1" data-toggle="tooltip" title="<%= exercise.instructions %>"><%== exercise.name %></a>
    <!-- show image icon if images -->
    <% if exercise.image_links.size > 0 %><a href="/users/<%= @patient.username %>/exercises/<%= exercise.name %>/edit?group=<%= group.name if group %>"><i class="far fa-image" data-toggle="tooltip" title="Image Available"></i></a><% end %>

  </div>
  <div class="d-none d-sm-none d-md-3 col-3 "></div>
  <div class="col-lg-1 col-3 col-sm-3 col-md-2 d-print-block"> <% if exercise.reps || exercise.sets %> <span class="badge badge-secondary reps-sets my-2"><%= reps_and_sets_str(exercise) %></span> <% end %> </div>
  <div class="col-1 d-md-none "></div>
  <div class="col-lg-1 col-3 d-none d-xl-block d-print-none">
    <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="exercise_actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Actions </a>
    <div class="dropdown-menu" aria-labelledby="exercise_actions">
      <a href="/users/<%= @patient.username %>/exercises/<%= exercise.name %>/edit?group=<%== (group.name if group) %>" class="dropdown-item text-primary" data-toggle="tooltip" title="View/change exercise instructions or add comments.">View/Edit</a>
      <form method="post" action="/users/<%= @patient.username %>/exercises/<%= exercise.name %>/move_down?group=<%= group.name if group %>">
        <button type="submit" class="dropdown-item"><i class="fas fa-arrow-down"></i> Move exercise down</button>
      </form>
      <form method="post" action="/users/<%= @patient.username %>/exercises/<%= exercise.name %>/move_up?group=<%= group.name if group %>">
        <button type="submit" class="dropdown-item"><i class="fas fa-arrow-up"></i> Move exercise up</button>
      </form>
      <form action="/users/<%= @patient.username %>/exercises/<%= exercise.name %>/delete?group=<%= group.name if group %>" method="post" onsubmit="return confirm('Are you sure you want to delete this exercises? This cannot be reversed. Click OK to proceed.');">
        <button type="submit" class="dropdown-item text-danger" data-toggle="tooltip" title="Delete exercise and associated data.">Delete</button>
      </form>
      <hr>
      <a type="button" class="dropdown-item text-primary" data-toggle="modal" data-target="#move_exercise_to_group_<%= grp_index %>_<%= ex_index %>"> Move exercise to group </a>
    </div>
  </div>
  <!-- Move exercise to group (Modal) -->
  <div class="modal fade" id="move_exercise_to_group_<%= grp_index %>_<%= ex_index %>" tabindex="-1" role="dialog" aria-labelledby="move_exercise_to_group_<%= grp_index %>_<%= ex_index %>" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Move Exercise '<%= exercise.name %>'' To Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="" method="post" action="/users/<%= @patient.username %>/exercises/<%= exercise.name %>/move<%= create_full_query_str({end_date: params[:end_date], day_step: params[:day_step], nav: params[:nav]})  %>">
            <div class="form-group mb-2">
              <label for="grouplist_<%= grp_index %>_<%= ex_index %>" class="">Destination Group</label>
              <input type="hidden" name="group" value="<%= (group.name if group) %>">
              <input name="dest_group" list="grouplist_<%= grp_index %>_<%= ex_index %>" class="form-control col-lg-12" value="" placeholder="">
              <datalist id="grouplist_<%= grp_index %>_<%= ex_index %>"> <% @patient.get_groups(GroupOperations::TOP_HIERARCHY).each do |group| %> <option value="<%= group.name %>"></option>
                <% end %>
              </datalist>
            </div>
            <button type="submit" class="btn btn-primary">Move</button>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Checkboxes for each day for each exercise -->
  <% @dates.each_with_index do |date, index| %> <div class="tick-box col-1  <%= checkbox_display_class(index) %> %>">
    <div class="custom-control custom-checkbox text-center">
      <input type="checkbox" class="custom-control-input" id="chk_<%= grp_index.to_s %>_<%= ex_index.to_s + "_" + date.strftime("%Y%m%d") %>" exercise_name="<%= exercise.name %>" group="<%= group.name if group %>" date="<%= date.strftime("%Y%m%d") %>" name="checkbox_value" value="checkbox_value <%= check_value(date, exercise.record_of_days) %>" <%= "checked" if exercise.done_on?(date.strftime("%Y%m%d")) %>>
      <input type="hidden" name="exercise_name" value="<%= exercise.name %>">
      <input type="hidden" name="group" value="<%= group.name if group %>">
      <input type="hidden" name="date" value="<%= date.strftime("%Y%m%d") %>">
      <label class="pr-3 custom-control-label custom-checkbox " for="chk_<%= grp_index.to_s %>_<%= ex_index.to_s + "_" + date.strftime("%Y%m%d") %>"></label>
    </div>
  </div>
  <% end %>
</div>
<% end %>
<!-- display exercise groups -->
<% @patient.get_groups(Patient::TOP_HIERARCHY).each_with_index do |group, grp_index| %>
<!-- Rename group Modal -->
<div class="modal fade" id="modal_rename_group_<%= grp_index %>" tabindex="-1" role="dialog" aria-labelledby="modal_rename_group" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rename Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-inline" method="post" action="/users/<%= @patient.username %>/exercises/group/<%= group.name %>/rename">
          <div class="form-group">
            <label for="new_group_name" class="sr-only">New Group Name</label>
            <input type="text" id="new_group_name" name="new_group_name" placeholder="New Group Name">
          </div>
          <button type="submit" class="mx-2 btn btn-primary">Rename</button>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row exercise-row">
  <div class="col">

    <a class="btn btn-info dropdown-toggle" href="#" role="button" id="group_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Group: <%== group.name %> (<%= group.items.size %>) </a>
    <div class="dropdown-menu" aria-labelledby="group_button">
      <a type="button" class="dropdown-item text-primary" data-toggle="modal" data-target="#modal_rename_group_<%= grp_index %>"> Rename Group </a>
      <form method="post" action="/users/<%= @patient.username %>/exercises/groups/<%= group.name %>/move_down">
        <button type="submit" class="dropdown-item"><i class="fas fa-arrow-down"></i> Move group down</button>
      </form>
      <form method="post" action="/users/<%= @patient.username %>/exercises/groups/<%= group.name %>/move_up">
        <button type="submit" class="dropdown-item"><i class="fas fa-arrow-up"></i> Move group up</button>
      </form>
      <form action="/users/<%= @patient.username %>/exercises/groups/<%= group.name %>/move_all_exercises_out" method="post">
        <button type="submit" class="dropdown-item text-warning" data-toggle="tooltip" title="">Move all exercises out of group</button>
      </form>
      <hr>
      <form action="/users/<%= @patient.username %>/exercises/group/<%= group.name %>/delete" method="post" onsubmit="return confirm('Are you sure you want to delete this group and its exercises? This cannot be reversed. Click OK to proceed.');">
        <button type="submit" class="dropdown-item text-danger" data-toggle="tooltip" title="Delete exercise and associated data.">Delete</button>
      </form>
    </div>
  </div>
  <div class="col-lg-1">
  </div>
</div>
<!-- display exercises in group -->
<% group.items.each_with_index do |exercise, ex_index| %> <%= yield_content :exercise_row, exercise, 1, ex_index, group, grp_index %>
<% end %>
<% end %>
<!-- display top level exercises -->
<% @patient.get_group(Patient::TOP_HIERARCHY).items.each_with_index do |exercise, ex_index| %> <%= yield_content :exercise_row, exercise, 0, ex_index, nil, -1 %>
<% end %>
<br>
<br>
<a class="btn btn-success ml-2 d-print-none" data-toggle="collapse" href="#collapse_add_exercises" role="button" aria-expanded="false" aria-controls="collapse_add_exercises"> Add More Exercises<i class="ml-1 fas fa-caret-down"></i>
</a>
<div class="collapse <%= 'show' if session[:user].role == :therapist %>" id="collapse_add_exercises">
  <br>
  <!-- Form to add new exercises -->
  <form class="col-lg-12 d-print-none" id="form_add_exercise" action="/users/<%=@patient.username%>/exercises/add<%= create_full_query_str({end_date: params[:end_date], day_step: params[:day_step], nav: params[:nav]})  %>" method="post">
    <!-- new exercise input 1 -->
    <div class="form-row mb-1">
      <div class="input-group col-lg-3 pl-0">
        <label class="sr-only">Name of new exercise</label>
        <input type="text" pattern="([\sA-Za-z0-9])+" title="Please enter only letters" class="form-control" name="new_exercise_name[]" placeholder="Name of new exercise" value="<%== (@new_exercise_names[0] if @new_exercise_names) %>">
      </div>
      <input name="group[]" pattern="([\sA-Za-z0-9])+" title="Please enter only letters" list="group" class="form-control col-lg-2" value="<%= @groups[0] if @groups %>" placeholder="Group Name">
      <datalist id="group">
        <% @group_names_list.each do |group_name| %>
          <option value="<%= group_name %>"></option>
        <% end %>
      </datalist>

      <button type="submit" class="ml-2 col-lg-2 input-group-btn btn btn-outline-primary">Add Exercises</button>
      <% if session[:user].role == :therapist || session[:user].role == :admin %> <br>
      <div class="">
        <a href="/users/<%= @patient.username %>/exercises/add_from_library<%= '?pt=' + @patient.username %>" class="btn btn-outline-primary ml-2">Choose From Exercise Library</a>
      </div>
      <% end %>
    </div>
    <!-- new exercise input 2 to 4 -->
    <% max_index = [(@new_exercise_names.size - 1 if @new_exercise_names), 3].compact.max %>
    <% for new_ex_index in 1..max_index do %>
    <div class="form-row mb-1">
      <div class="input-group col-lg-3 pl-0">
        <label class="sr-only">Name of new exercise</label>
        <input type="text" pattern="([\sA-Za-z0-9])+" title="Please enter only letters" class="form-control" name="new_exercise_name[]" placeholder="Name of new exercise" value="<%== (@new_exercise_names[new_ex_index] if @new_exercise_names) %>">
      </div>
      <input name="group[]" pattern="([\sA-Za-z0-9])+" title="Please enter only letters" list="group" class="form-control col-lg-2" value="<%= @groups[new_ex_index] if @groups %>" placeholder="Group Name">
      <datalist id="group">
        <% @group_names_list.each do |group_name| %>
          <option value="<%= group_name %>"></option>
        <% end %>
      </datalist>
    </div>
    <% end %>
  </form>
  <!-- button to add more rows for adding exercises -->
  <form class="col-lg-12">
    <br>
    <div class="form-row mb-1 d-print-none">
      <button type="button" onclick="addNewExerciseRows()">Add 3 more rows</button>
    </div>
  </form>
</div>
<br>
